CI_ENVIRONMENT = development

app.baseURL = 'http://localhost/hypernex-store/public/'
app.indexPage = ''
app.appTimezone = 'Asia/Jakarta'

database.default.hostname = localhost
database.default.database = hypernex_store
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306

encryption.key = change_this_to_a_32_character_secret
