vendor/
.phpunit.cache/
.env
writable/cache/*
writable/debugbar/*
writable/logs/*
writable/session/*
writable/uploads/*
public/uploads/products/*
!writable/cache/.gitkeep
!writable/logs/.gitkeep
!writable/session/.gitkeep
!writable/uploads/.gitkeep
!public/uploads/products/.gitkeep
!public/uploads/products/default-product.svg
